body{
  background-color: #F0F3F5;
}

.contactUs{
  padding-top: 80px;
  padding-bottom: 80px;
}

.contactUs-img{
  top: -7%;
  right: 4%;
}

.my-form-h{
    height: 200px;
}

.index-link{
    color: #4A69E8;
}

@media(max-width:768px){
  .index-btn{
    width: 100%;
  }
}